<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div>
    test
</div>

test

<div>
    {% block redcode_faq_content %}
    {% endblock redcode_faq_content %}
</div>
</body>
</html>
